# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
.venv/
venv/
ENV/

# Spyder project settings
.spyderproject

# PyCharm project settings
.idea

# VSCode project settings
.vscode

# Rope project settings
.ropeproject

# pyenv
.python-version

eip_python/
